.infra {
    background-color: blue;
}
.design {
    background-color: red;
}
.desenvolvimento {
    background-color: green;
}
.marketing {
    background-color: yellow;
}
.educacional {
    background-color: orange;
}